{% extends '::layout.html.twig' %}

{% block fos_user_content %}
    <div class="col-md-2">
        <form action="{{ url('fos_user_resetting_reset', {'token': token}) }}" method="POST"
              class="fos_user_resetting_reset">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
            </div>
        </form>
    </div>
{% endblock fos_user_content %}
