{% extends '::layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('fos_user_profile_show') }}">Profile</a>
    </li>
    <li class="active">Change password</li>
{% endblock %}

{% block fos_user_content %}

    <div class="col-md-2">
        <form action="{{ url('fos_user_change_password') }}"  method="POST"
              class="fos_user_change_password">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"
                       class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
{% endblock fos_user_content %}
