{% extends '::layout.html.twig' %}

{% block content %}

    <div class="col-md-2">
        <form method="POST">
            <div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="{{ 'common.submit'|trans }}" class="btn  btn-primary" />
            </div>
        </form>
    </div>
{% endblock content %}
